# Virtual environment
venv/
.venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Distribution / packaging
*.egg-info/
dist/
build/

# Environment variables
.env
.env.*

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# yfinance cache
*.db
*.sqlite
